/* Container styling */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Section styling */
section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Left Data styling */
.left_data {
    width: 50%;
    padding: 20px;
    background-color: #f8f9fa;
    /* Light background color */
}

/* Form styling */
h3 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

.mb-3 {
    margin-bottom: 1rem;
}

/* Button styling */
.btn-primary {
    background-color: rgb(67, 185, 127);
    color: white;
    width: 100%;
}

/* Sign In text styling */
p {
    text-align: center;
    margin-top: 1rem;
}

/* Right Image styling */
.SIgn_img {
    width: 50%;
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
    section {
        flex-direction: column;
    }

    .left_data {
        width: 100%;
        margin-bottom: 20px;
    }

    .SIgn_img {
        width: 100%;
    }
}